footer{
    overflow-x:hidden;
    width:100%;

    .top{
        background:$lightgray;
        display:flex;
        padding-bottom:26px;
        padding-top:26px;

        .content-container{
            display:flex;
            flex-direction:column;
            max-width:100%;
            width:100%;

            .logos{
                align-items:center;
                display:flex;
                justify-content:center;
                padding:0px 10px 15px;
    
                .logo{
                    margin-left:5%;
                    width:40%;
    
                    &:first-child{
                        margin-left:0;
                    }
                }
            }
    
            .links{
                display:flex;
                padding:0 0 10px;
    
                #links{
                    display:flex;
                    justify-content:center;
                    width:100%;
    
                    li{
                        margin-right:5%;
    
                        &:last-child{
                            margin-right:0;
                        }
    
                        a{
                            color:$blue;
                            font-weight:500;
                            position:relative;
                            text-decoration:none;

                            &:before{
                                background:$royalblue;
                                bottom:0;
                                content:'';
                                height:1px;
                                left:0;
                                position:absolute;
                                transform:scaleX(0);
                                transform-origin:0 0;
                                transition:1000ms transform;
                                width:100%;
                            }

                            &:hover{
                                &:before{
                                    transform:scaleX(1);
                                    transition:500ms transform;
                                }
                            }
                        }
    
                    }
                }
            }
        }
    }

    .bottom{
        background:$darkblue;
        display:flex;
        flex-direction:column;

        padding:25px;

        .content-container{
            display:flex;
            flex-direction:column;

            .social-links{
                display:flex;
                justify-content:center;

                ul{
                    display:flex;
                    justify-content:center;
                    margin-bottom:20px;
    
                    .menu-item{
                        display:none;
                        margin-left:22px;
    
                        &.icon{
                            display:block;
                        }
                    }
    
                    li{
                        margin-left:22px;
    
                        &:first-child{
                            margin-left:0;
                        }

                        &.icon.tw{
                            svg{
                                transform:scale(0.85);
                            }
                        }
                    }
                }
            }
    
            .legal{
                color:white;
    
                p{
                    margin:0;
                    text-align:center;
                }
            }

        }

    }
}

@media screen and (min-width:768px){
    footer{
        .top{
            
            justify-content:center;
            padding-bottom:0;
            padding-top:0;

            .content-container{
                align-items:center;
                flex-direction:row;
                justify-content:center;
                max-width:calc(1440px - 30px);
                padding:31px 0;
                width:calc(100% - 60px);

                .logos{
                    justify-content:flex-start;
                    max-width:375px;
                    padding:0;
                    width:100%;

                    .logo{
                        width:50%;
                    }
                }

                .links{
                    flex:1;
                    justify-content:flex-end;

                    #links{
                        justify-content:flex-end;

                        li{
                            margin:0 0 0 10px;

                            &:first-child{
                                margin:0;
                            }

                        }
                    }
                }

            }

        }

        .bottom{
            flex-direction:row;
            justify-content:center;
            padding: 25px 0;

            .content-container{
                flex-direction:row;
                max-width:calc(1440px - 30px);
                width:calc(100% - 60px);

                .social-links{
                    ul{
                        margin:0;
                    }
                }

                .legal{
                    flex:1;

                    p{
                        text-align:right;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:960px){
    footer{
        .top{

            .content-container{

                .logos{
                    max-width:425px;
                }

            }

        }

    }
}